/* src/styles/custom.css */
:root {
	/* DPP Red/Burgundy theme */
	--sl-color-accent-low: #2e0811;
	--sl-color-accent: #ba2844;
	--sl-color-accent-high: #f06a84;
	
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #e2e8f0;
	--sl-color-gray-2: #cbd5e1;
	--sl-color-gray-3: #94a3b8;
	--sl-color-gray-4: #64748b;
	--sl-color-gray-5: #475569;
	--sl-color-gray-6: #334155;
	--sl-color-bg-nav: #1e1e1e;
}

/* Light mode overrides */
:root[data-theme='light'] {
	--sl-color-accent-low: #f9e5e9;
	--sl-color-accent: #ba2844;
	--sl-color-accent-high: #6b1525;
	
	--sl-color-bg-nav: #ffffff;
}
