{{ define "main" }}
<div class="bd-content {{ if not (eq .RelPermalink "/versions/") }}ps-lg-4{{ end }}">
    {{ if not .IsHome }}
    <h1 class="bd-title mb-4" id="content">{{ .Title }}</h1>
    {{ end }}
    
    {{ .Content }}
    
    <div class="mt-5 pt-3 border-top text-muted small d-flex justify-content-between align-items-center">
        <span>&copy; {{ now.Year }} Live Production Exchange</span>
        {{ $package := unmarshal (os.ReadFile "package.json") }}
        <span>v{{ $package.version }}</span>
    </div>
</div>
{{ end }}
